.seeker-card {
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.3);
  border-radius: 6px !important;
  overflow: hidden;
}

.seeker-name {
  font-size: 36px;
}

.seeker-content {
  display: flex;
}

.seeker-description {
  padding: 20px 30px 0 25px;
}

.seeker-requests-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
