<div class="container my-4">
  <h2>Pending offers</h2>
  <div class="row m-0">
    <div class="col p-0">
      <%= render 'booking_items', bookings: @pending_bookings %>
    </div>
  </div>
  <div class="mt-2">
    <%= link_to "Back to all seekers", seekers_path, class: "btn btn-primary mt-3" %>
  </div>
</div>



