<li class="list-item-card">
  <div class="d-flex align-items-center">
    <div class="offer-list-item-content d-flex flex-grow-1 align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <div class="ml-2 mr-5">
          <% if product.category.photo.attached? %>
            <%= cl_image_tag product.category.photo.key, class: "request-category-icon" %>
          <% end %>
        </div>
        <div><%= product.title %></div>
      </div>
      <div class="mr-4"><%= product.created_at.strftime("%b %d, %Y") %></div>
    </div>
  </div>
</li>
