<div class="card">
  <div class="card-body">
    You listed 
    "<%= product.title %>" as a
    <%= product.category.title.downcase %>
<%# if product.photos.attached? %>
  <%# photos.each do |photo| %>
    <%#= cl_image_tag photo.key %>
  <%# end%>
<%# end%>
  </div>
</div>
