<div class="card">
  <div class="card-body">
<%= product.title %>
<%= product.category_id %>
<%# if product.photos.attached? %>
  <%# photos.each do |photo| %>
    <%#= cl_image_tag photo.key %>
  <%# end%>
<%# end%>
  </div>
</div>
