<% content_for :meta_title, "Add a new seeker | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Create a profile for a person seeking to get tech items that other want to donate." %>

<div class="col-sm-6 offset-sm-3 my-5">
  <h2>Create a new seeker</h2>
  <%= render 'new_form' %>
</div>
