<% content_for :meta_title, "Add a new seeker | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Create a profile for a person seeking to get donated tech." %>

<div class="col-sm-6 offset-sm-3 my-5">
  <h2 class="mb-3">Add a new seeker to <%= current_user.charity.name %></h2>
  <%= render 'new_form' %>
</div>
