<footer>
  <div class="m-5">
    <div class="logo">
      <%= image_tag "https://res.cloudinary.com/ds32iiece/image/upload/v1614871302/tech-white_yeuwpx.svg" %>
    </div>
    <p class="mb-2 text-muted font-weight-light">©2021 Developed by Createch</p>
    <i class="fab fa-instagram pr-2"></i>
    <i class="fab fa-twitter"></i>
  </div>
 </footer>
