<% content_for :meta_title, "About #{DEFAULT_META["meta_product_name"]}" %>

<div class="container my-5">
  <h1>About Us</h1>
  <div class="row g-0">
    <div class="col-12 col-md-8">
      <p class="mb-4">With the right equipment, everyone can do extraordinary things! </br> </br> According to the UNHCR, globally, as of mid-2020 an unprecedented 80 million people have been forced from their homes. Among them are more than 26.3 million refugees. </br> </br> Techaway started in 2021 with a small team of four members as a platform that helps <a href="charities.html"> charities </a> request and receive donated tech equipment for people with refugee status.</br> Be part of their journey <a href="requests.html"> today </a>! </p>
    </div>

    <div class="col-12 col-md-6">
      <div class="card-item opacity-hover-none">
        <img src="https://ca.slack-edge.com/T02NE0241-U01JQTV4ZR7-12a8a7e7e457-512" class="card-item-profile" alt="...">
        <div class="card-item-infos">
          <h5 class="card-title">Gayatri</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Joined January 2021</small></p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card-item opacity-hover-none">
        <img src="https://ca.slack-edge.com/T02NE0241-U01JGBP2KFE-8e0eca34d966-512" class="card-item-profile" alt="...">
        <div class="card-item-infos">
          <h5 class="card-title">Marta</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Joined January 2021</small></p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card-item opacity-hover-none">
        <img src="https://ca.slack-edge.com/T02NE0241-U01HVSF8C95-f674a8d1ea7d-512" class="card-item-profile" alt="...">
        <div class="card-item-infos">
          <h5 class="card-title">Ryan</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Joined January 2021</small></p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card-item opacity-hover-none">
        <img src="https://ca.slack-edge.com/T02NE0241-U01J7CQU19B-9925ed5962bd-512" class="card-item-profile" alt="...">
        <div class="card-item-infos">
          <h5 class="card-title">Won</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Joined January 2021</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
