<div class="container  my-5">
  <h1>About Us</h1>
  <p class="text-justify w-75">Found in 2021, we provide a platform that helps charities request and receive donated tech equipment for people with refugee status.</p>
<div class="card about mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://ca.slack-edge.com/T02NE0241-U01JQTV4ZR7-12a8a7e7e457-512" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Gaya</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Joined January 2021</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card about mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://ca.slack-edge.com/T02NE0241-U01JGBP2KFE-8e0eca34d966-512" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Marta</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Joined January 2021</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card about mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://ca.slack-edge.com/T02NE0241-U01HVSF8C95-f674a8d1ea7d-512" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Ryan</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Joined January 2021</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card about mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://ca.slack-edge.com/T02NE0241-U01J7CQU19B-9925ed5962bd-512" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Won</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Joined January 2021</small></p>
      </div>
    </div>
  </div>
</div>
</div>
