
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to "Donate!", donate_path, class: "btn btn-light" %>
  </p>

  <%= render '/products/search' %>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        <i class="fas fa-laptop"></i>
        <p>1 needed</p>
      </div>
      <div class="col-sm text-center">
        <i class="fas fa-camera-retro"></i>
        <p>1 needed</p>
      </div>
      <div class="col-sm text-center">
        <i class="fas fa-mobile-alt"></i>
        <p>1 needed</p>
      </div>
    </div>
  </div>
</div>


