<div class="jumbotron">
  <div class="banner">
    <h1 id="banner-title">Do you have any tech<br>that you don’t need<br>anymore?</h1>
    <div class="text-orange">
    <p class="w-50 lead text">
      204 people are currently in need of 274 tech items.
    </p>
    </div>
    <%= link_to "Donate Now!", donate_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container py-5">
  <h2 class="text-center font-weight-bold">Do you have...?</h2>
    <div class="row pt-4 pb-5">
      <div class="col-sm text-center">
        <img src="https://res.cloudinary.com/ds32iiece/image/upload/v1614868138/createilustration1_xbevn9.svg" alt="">
        <h5 class="pt-3">8 Laptops Needed</h5>
      </div>
      <div class="col-sm text-center">
        <img src="https://res.cloudinary.com/ds32iiece/image/upload/v1614868135/add-content_dk0ldi.svg" alt="">
        <h5 class="pt-3">6 Mobile Phones Needed</h5>
      </div>
      <div class="col-sm text-center">
        <img src="https://res.cloudinary.com/ds32iiece/image/upload/v1614868134/launchillustration3_afxncl.svg" alt="">
        <h5 class="pt-3">3 Monitors Needed</h5>
      </div>
  </div>
</div>

<div class="stories">
  <div class="container pt-5">
    <h2>Successful stories</h2>
    <div class="row pb-5">
      <div class="col-sm">
        <blockquote class="quote-box pl-3 ">
         <p class="quotation-mark">
          “
         </p>
         <p class="quote-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam         </p>
         <hr>
          <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
             Abraham Lincoln
             </p>
             <p class="blog-post-bottom pull-right">
       <!--      <span class="badge quote-badge">896</span>  ❤ -->
            </p>
          </div>
       </blockquote>
      </div>
      <div class="col-sm">
        <blockquote class="quote-box pl-3 ">
         <p class="quotation-mark">
          “
         </p>
         <p class="quote-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam         </p>
         <hr>
          <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
             Saroo
             </p>
             <p class="blog-post-bottom pull-right">
           <!--  <span class="badge quote-badge">896</span>  ❤ -->
            </p>
          </div>
       </blockquote>
      </div>
      <div class="col-sm">
        <blockquote class="quote-box pl-3 ">
         <p class="quotation-mark">
          “
         </p>
         <p class="quote-text">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam         </p>
         <hr>
          <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
             Abraham Lincoln
             </p>
             <p class="blog-post-bottom pull-right">
         <!--    <span class="badge quote-badge">896</span>  ❤ -->
            </p>
          </div>
       </blockquote>
      </div>
    </div>
  </div>
</div>



