.banner {
  background-size: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 80px 150px 80px;
}


.banner img {
filter: grayscale(100%);
}

.banner h1 {
  color: #fff;
  opacity: 0.8;
}

#home-banner {
  background-size: auto;
  background-position: center;
  padding: 80px 130px;
}

#home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  padding: 0;
}

#home-banner p {
  margin: 12px 0 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: #FEA451;
  line-height: 30px
}

.jumbotron{
  background-image: url("https://res.cloudinary.com/ds32iiece/image/upload/v1614867774/main_eqtx6p.jpg");
  background-size: cover;
  color: white;
  line-height: 50px;
  height: 100vh;
}

