.banner {
  background-size: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 80px 150px 80px;
}
.banner img {
  filter: grayscale(100%);
}
.banner h1 {
  color: #fff;
  opacity: 0.8;
}
#home-banner {
  background-size: auto;
  background-position: center;
  padding: 80px 130px;
  max-width: 850px;
}
#home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 74px;
  line-height: 75px;
  padding: 0;
}
#home-banner p {
  margin: 12px 0 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: #FEA451;
  line-height: 30px
}
.jumbotron{
  background-image: url("https://res.cloudinary.com/ds32iiece/image/upload/v1614867774/main_eqtx6p.jpg");
  background-position: top;
  background-size: cover;
  color: white;
  line-height: 50px;
  height: 100vh;
}
@media(max-width: 1200px) {
  #home-banner {
    max-width: 650px;
    h1 {
      font-size: 56px;
    }
  }
}
@media(max-width: 768px) {
  #home-banner {
    padding: 40px 0px 20px 30px;
    max-width: 580px;
    h1 {
      font-size: 48px;
    }
  }
}
@media (max-width: 576px) {
  #home-banner {
    padding: 40px 20px 20px 30px;
    h1 {
      font-size: 42px;
    }
    p {
      font-size: 20px;
    }
  }
}
#charity-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #BFBDC1;
  color: white;
  padding-top: 6%;
  padding-bottom: 5%;

  #text_container {
    margin: 0 auto;
    padding: 0 80px;
    width: 1100px;

    h1, h5 {
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
  }
}