.btn.btn-primary{
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 14px;
}
.btn.btn-warning{
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 14px;
}
