.btn.btn-primary, .btn.btn-warning {
  color: white;
}

.btn {
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 14px;
}

.btn-secondary {
  border: 2px solid $primary;
  color: $primary;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: $primary;
  }
}

.upload-photo {
  border: 1px solid $primary;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 6px;

  &:hover {
    opacity: 0.7;
  }
}

.btn-rounded-50 {
  border-radius: 50px !important;
}
