$container-gray: #FFFEFC;

#content-tabs {
  background-color: $container-gray;
  border-radius: 6px;

  .nav-tabs {
    width: 100%;
    margin: 0;
    display: flex;
    border: none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    .nav-item {
      flex-grow: 1;
      
      &:first-child .nav-link {
        border-top-left-radius: 6px !important;
      }
      &:last-child .nav-link {
        border-top-right-radius: 6px !important;
      }
      
      .nav-link {
        width: 100%;
        background-color: $primary;
        color: #fff;
        border: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transition: background-color 0.2s ease;

        &:hover{
          background-color: $container-gray;
          color: $primary;
          border: none;

        }
        &.active {
          background-color: $container-gray !important;
          color: $primary !important;
        }
      }
    }
  }
}

.tab-content {
  background-color: $container-gray !important;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}