.navbar-lewagon {
  justify-content: space-between;
  background: black;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 70px;
  margin: 15px;
}
.logo img {
  width: 100px;
}
#navbar-links {
  flex-direction: row;

  .nav-item {
    .nav-link {
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
  }
}
.navbar-nav .dropdown-menu {
  position: absolute !important;
  border-radius: 6px;
}
#navbarDropdown {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}