blockquote{
  border-left: none;
}

.quote-badge{
  background-color: rgba(0, 0, 0, 0.1);
}

.quote-box{
  overflow: hidden;
  border-radius: 12px;
  background-color: white;
  color:black;
  
  padding: 28px;
  line-height: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

#quote-box-left {
  width: 325px;
  margin-right: 10px;
}

#quote-box-top-right {
  margin-top: 100px;
  width: 450px;  
}

#quote-box-bottom-right {
  margin-top: 38px;
  width: 325px;  
}

.quotation-mark{
  font-weight: bold;
  font-size: 50px;
  color: $primary;
  opacity: 0.3;
}

.quote-text{
  margin: 0 0 0 8px;
  font-size: 19px;
}

.quote-name {
  font-weight: 800;
  margin-bottom: 0;
  padding-left: 8px;
}

.quote-location {
  opacity: 0.6;
  margin-bottom: 0;
  padding-left: 8px;
}

#quote-header-container {
  width: 75%;
  margin-bottom: 30px;
  position: relative;

  .quote-header {
    font-size: 48px;
    font-weight: bold;
    opacity: 0.7;
  }
}
#huge-quotation-mark {
  position: absolute;
  font-size: 500px;
  line-height: 500px;
  opacity: 0.3;
  top: -135px;
  left: -160px;
}

@media (max-width: 992px) {
  #quote-box-left, #quote-box-top-right, #quote-box-bottom-right {
    width: 100%;
    margin: 38px 0 0 0;
  }
  .banner {
    margin: 0 0 0 20px;
  }
}