.search-button {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.search-field {
  height: 48px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.search-form {
  width: 350px
}