<% content_for :meta_title, "Edit Your Listing | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Edit the details of your '#{ @product.title }' listing" %>

<div class="col-md-8 offset-sm-3 my-5">
  <h2>Edit your product listing</h2>
  <%= render "form", product: @product %>
</div>
