<% content_for :meta_title, "Donated tech items | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "All listings of the tech items that people are willing to donate. Find tech that someone really needs." %>

<div class="container my-5">
  <h1>All available products</h1>
  
  <%= render 'search' %>
  <% @products.each do |product| %>
    <br>
    <%= link_to product.title, product_path(product) %>
  <% end %>
</div>

