<div class="container my-5">
  <h1>All available products</h1>
  
  <%= render 'search' %>
  <% @products.each do |product| %>
    <br>
    <%= link_to product.title, product_path(product) %>
  <% end %>
</div>

