<div class="container">
  <h1>My listings</h1>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.title, product_path(product) %>
        -
        Status: <%= product.status %>

        <% unless product.status == "Complete" %>
           - 
          <%= link_to(mark_as_complete_path(product), method: :get, data: { confirm: "Are you sure you want to mark this product as sold/unlist it from public viewing?"}) do %>
            <%= "Remove from market" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

