<% content_for :meta_title, "Donate a tech item | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "List your tech item for seekers to be able to find it." %>

<div class="col-md-8 offset-sm-3 my-5">
  <h2>Donate to a seeker</h2>
  <%= render "form", product: @product %>
</div>
