.condition-container {
  width: 100%;
  padding: 0 10px;
  margin-top: 40px;

  p {
    margin: 0;
    padding: 12px 0;
    border-top: 1px solid #ccc;
    font-size: 14px;
  }
}
.condition-header {
  font-weight: bold;
}

#product-new-form {
  .form-group {
    width: 100%;
  }
}
